@import "colors";

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: $DarkPurple;
    color: $White;

    .container{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        header{
            display: flex;
            justify-content: center;
            
            h1{
                color: $Purplee;
                font-size: 60px;
            }
        }

        nav{
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            padding-bottom: 2rem;

            input{
                padding: 0.5rem;
            }
        }

        main{
            
            .movies{
                display: flex;
                justify-content: center;
                flex-wrap: wrap; 
                gap: 1.5rem;
            }

            .movie-card{
                display: flex;
                flex-wrap: wrap; 
                justify-content: center;
                max-width: 350px;
                width: 100%;
                background-color: $Purple;
                padding: 1rem;
                border-radius: 20px;
                
                img{
                    width: 250px;
                    height: auto;
                }

                span{
                    font-size: 15px;
                    font-weight: lighter;
                }
            }
        }  
    }
}

//Kilde: News kode
//Samarbeidet med Stine og Marianne